

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

main{
  height:700px;
  width: 935px;
  background-image: url(/pictures/dreamland.png);
  background-size: 100% 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  
}
#board{
  height: 615px;
  width: 650px;
  margin:auto;
  
}

img{
  object-fit: contain;
  height: 200px;
  width: 150px;
  border: 1px solid cyan;
  
}

.picked{
  filter: grayscale(100%)
}

h2 {
  font-family: 'Roboto', sans-serif;
  color:rgb(218, 209, 196);
  text-shadow: #000 0px 0px 2px;
  display: inline-block;

}
#stageSelectTitle{
  display: inline;
  margin-right: 5px;
}

#spacer{
  height: 42.5px;
}


#form{
  display: inline;
}

.container{
  margin: auto;
  width:50%;
  border: 2px solid rgb(182, 182, 19);
  padding:2px
}

body{ 
  margin: auto;
  width:50%;
  background-image: url(pictures/background.jpg);
  background-size:cover ;
}

#attempts,#hsDisplay{
  margin-left: 15px;
}

#playAgain{
  margin-left: 20px;
  margin-bottom: 4px;
}