

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

main{
  height:700px;
  width: 935px;
  background-image: url(/pictures/Finaldestination.png);
  background-size: contain;
}
#board{
  height: 615px;
  width: 650px;
  margin:auto;
  
}

img{
  object-fit: contain;
  height: 200px;
  width: 150px;
  border: 1px solid cyan;
  
}

.picked{
  filter: grayscale(100%)
}

h2 {
  font-family: 'Roboto', sans-serif;
}

#spacer{
  height: 42.5px;
}
